<ng-container *ngIf="users$ | async as users">
  <ng-container *ngIf="readyStatus$ | async as rs">
    <ul>
      <li *ngFor="let user of users">
        {{ user.username }} -
        <span *ngIf="user.gameWebSocketSessionId && rs[user.gameWebSocketSessionId] !== undefined">
          {{ rs[user.gameWebSocketSessionId] ? '✅ Ready' : '⏳ Not ready' }}
        </span>
      </li>
    </ul>
  </ng-container>
</ng-container>

<button (click)="toggleReady()" class="ready-button">
  Toggle Ready
</button>
